<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Phonebook List</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
    <div class="container my-2" align="center">
        <h1>Phonebook List</h1>
        <hr>
        <br><table border="1" class="table table-striped table-responsive-md">
            <thead>
                <tr align="center">
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="phonebook: ${listPhonebook}">
                    <td th:text="${phonebook.name}"></td>
                    <td th:text="${phonebook.phone}"></td>
                    <td th:text="${phonebook.email}"></td>
                    <td th:text="${phonebook.address}"></td>
                    <td align="center">
                        <a th:href="@{/showContactUpdateForm/{id}(id=${phonebook.id})}" class="btn btn-primary">Update</a>
                        <a th:href="@{/deleteContact/{id}(id=${phonebook.id})}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        <a th:href="@{/showContactForm}" class="btn btn-primary btn-sm mb-3">Add Phonebook</a>
    </div>
</body>
</html>